[submodule "abonarrigo621"]
	path = abonarrigo621
	url = git://github.com/abonarrigo621/CS112-Spring2012.git
[submodule "AKilgore"]
	path = AKilgore
	url = git://github.com/AKilgore/CS112-Spring2012.git
[submodule "altarim992"]
	path = altarim992
	url = git://github.com/altarim992/CS112-Spring2012.git
[submodule "BeefCakes"]
	path = BeefCakes
	url = git://github.com/BeefCakes/CS112-Spring2012.git
[submodule "bitpit"]
	path = bitpit
	url = git://github.com/bitpit/CS112-Spring2012.git
[submodule "ChristianJH"]
	path = ChristianJH
	url = git://github.com/ChristianJH/CS112-Spring2012.git
[submodule "FrankHorrigan"]
	path = FrankHorrigan
	url = git://github.com/FrankHorrigan/CS112-Spring2012.git
[submodule "Grug16"]
	path = Grug16
	url = git://github.com/Grug16/CS112-Spring2012.git
[submodule "habahut"]
	path = habahut
	url = git://github.com/habahut/CS112-Spring2012.git
[submodule "jackerma"]
	path = jackerma
	url = git://github.com/jackerma/CS112-Spring2012.git
[submodule "jlevey3"]
	path = jlevey3
	url = git://github.com/jlevey3/CS112-Spring2012.git
[submodule "jwsander"]
	path = jwsander
	url = git://github.com/jwsander/CS112-Spring2012.git
[submodule "maedayx"]
	path = maedayx
	url = git://github.com/maedayx/CS112-Spring2012.git
[submodule "maisun13"]
	path = maisun13
	url = git://github.com/maisun13/CS112-Spring2012.git
[submodule "mitkrieg"]
	path = mitkrieg
	url = git://github.com/mitkrieg/CS112-Spring2012.git
[submodule "nigelgant"]
	path = nigelgant
	url = git://github.com/nigelgant/CS112-Spring2012.git
[submodule "Nsavoy"]
	path = Nsavoy
	url = git://github.com/Nsavoy/CS112-Spring2012.git
[submodule "redbassett"]
	path = redbassett
	url = git://github.com/redbassett/CS112-Spring2012.git
[submodule "RMeiselman"]
	path = RMeiselman
	url = git://github.com/RMeiselman/CS112-Spring2012.git
[submodule "sambwhit"]
	path = sambwhit
	url = git://github.com/sambwhit/CS112-Spring2012.git
[submodule "sgoodspeed"]
	path = sgoodspeed
	url = git://github.com/sgoodspeed/CS112-Spring2012.git
[submodule "sitonapanotis"]
	path = sitonapanotis
	url = git://github.com/sitonapanotis/CS112-Spring2012.git
[submodule "smw11"]
	path = smw11
	url = git://github.com/smw11/CS112-Spring2012.git
[submodule "timc09"]
	path = timc09
	url = git://github.com/timc09/CS112-Spring2012.git
[submodule "waylandsmith"]
	path = waylandsmith
	url = git://github.com/waylandsmith/CS112-Spring2012.git
[submodule "Werefriend"]
	path = Werefriend
	url = git://github.com/Werefriend/CS112-Spring2012.git
[submodule "windstrike22"]
	path = windstrike22
	url = git://github.com/windstrike22/CS112-Spring2012.git
